assets/templates/pages/index.jade
//- include bootstrap components
include ../blocks/plugins/bootstrap/bootstrap
//- include mixins
include ../helpers/mixins

doctype html
html(lang='ru')
    head
        //- include head tags
        include ../partials/head

    body

        #cnt-main

            // download
            include ../blocks/header/download

            // header
            include ../blocks/header/header


            // content
            .cnt-content
                .container
                    // posts
                    include ../blocks/content/pages/index/posts


            // footer
            include ../blocks/footer/footer

        // modal shares
        #modalShares.cnt-modal-shares.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalSharesLabel')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span Share
                    .modal-body
                        //- mark
                        .cnt-modal__mark
                            mark http://cll.io/a6lnu
                        //- social
                        .cnt-modal__social
                            .cnt-social.__type-2.text-center
                                ul.list-unstyled.clearfix.display-inline-block-top
                                    li.fb
                                        a(href='#')
                                            +icons-other('soc-fb_2x')
                                    li.tw
                                        a(href='#')
                                            +icons-other('soc-tw_2x')
                                    li.vk
                                        a(href='#')
                                            +icons-other('soc-vk_2x')
                                    li.in
                                        a(href='#')
                                            +icons-other('soc-in_2x')


        //- include scripts tags
        include ../partials/scripts

public/index.html
<!DOCTYPE html><html lang="ru"><head><meta charset="utf-8"><title>Centrallo</title><meta name="viewport" content="width=device-width, initial-scale=1"><meta name="description" content="Description"><meta name="keywords" content="Keywords"><link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon"><link rel="stylesheet" href="css/base.css"></head><body><div id="cnt-main"><!-- download--><div class="cnt-download visible-sm visible-xs"><div class="container"><div class="cnt-download__inside clearfix"><span aria-hidden="true" class="icons icons-other icon-close_2x"></span><div class="cnt-download__product float-left"><div class="cnt-download__product_img"><img src="img/other/icon@2x.png" alt="Centrallo"></div><div class="cnt-download__product_cnt"><span>Centrallo</span><span class="el-small hidden-xs">Download it for free on the App Store</span><span class="el-small visible-xs">Free on the Google Play</span></div></div><div class="cnt-download__btn float-right"><a href="#" role="button" class="btn btn-type-2 btn-size-2">Download</a></div></div></div></div><!-- header--><header class="cnt-header"><div class="container"><!-- brand--><div class="cnt-header__brand link-block float-left"><a href="#"><img src="img/logo@2x.png" alt="Centrallo brand"></a></div><!-- log in--><div class="cnt-header__log-in header-padding-top float-right"><ul class="list-unstyled"><li class="visible-xs"><a href="#">SIGN UP</a></li><li><a href="#">LOG IN</a></li></ul></div><!-- sign up--><div class="cnt-header__sign-up header-padding-top text-center hidden-xs"><a href="#">SIGN UP FOR FREE</a> — START PUBLISHING IN MINUTES</div></div></header><!-- content--><div class="cnt-content"><div class="container"><!-- posts--><div class="cnt-posts"><!-- person info--><div class="cnt-posts__person clearfix"><div class="cnt-posts__person_data float-left"><div class="cnt-posts__person_data_img"><img src="img/other/ava@2x.png" alt="Konstantin Vladimirskiy"></div><div class="cnt-posts__person_data_cnt">Konstantin Vladimirskiy</div></div><div class="cnt-posts__person_links float-right hidden-xs"><div class="cnt-social"><ul class="list-unstyled clearfix"><li><a href="#"><span aria-hidden="true" class="icons icons-other icon-soc-fb_2x"></span></a></li><li><a href="#"><span aria-hidden="true" class="icons icons-other icon-soc-tw_2x"></span></a></li><li><a href="#"><span aria-hidden="true" class="icons icons-other icon-soc-vk_2x"></span></a></li><li><a href="#"><span aria-hidden="true" class="icons icons-other icon-soc-in_2x"></span></a></li><li><input type="text" value="http://cll.io/a6lnu" readonly="readonly" class="form-control"></li></ul></div></div></div><!-- post info--><div class="cnt-posts__info clearfix"><div class="cnt-posts__info_btn float-right clearfix"><button type="button" class="btn btn-type-1 btn-size-1">Add to my Centrallo</button><button type="button" data-toggle="modal" data-target="#modalShares" class="btn visible-xs-inline-block btn-type-3 btn-size-1"><span class="icons icons-other icon-share_2x" aria-hidden="true"></span> Share</button></div><div class="cnt-posts__info_title float-left">Post-release checklist 2015.02.26</div></div><!-- post list--><div class="cnt-posts__list"><div class="cnt-posts__list_i __type-star"><div class="el-posts__list_i_status"></div><div class="cnt-posts__list_i_cnt"><div class="checkbox"><input type="checkbox" id="check1"><label for="check1"><div class="icheckbox_square"></div> Referral Accepted and Invited invitations not sorted by A-Z</label></div><div class="checkbox"><input type="checkbox" id="check2" checked="checked"><label for="check2"><div class="icheckbox_square"></div> Inbox shows me 242 items - that includes Done items; Only show me active</label></div><div class="checkbox"><input type="checkbox" id="check3" checked="checked"><label for="check3"><div class="icheckbox_square"></div> Inbox defaults to show done items - it should not</label></div><div class="checkbox"><input type="checkbox" id="check4"><label for="check4"><div class="icheckbox_square"></div> Lists default to Show Done - they should not</label></div><div class="checkbox"><input type="checkbox" id="check5"><label for="check5"><div class="icheckbox_square"></div> Recent view should sort by Created and show no Done items</label></div></div><div class="cnt-posts__list_i_info clearfix"><div class="cnt-posts__list_i_info_date float-left">2h ago</div><div class="cnt-posts__list_i_info_links float-right"><div class="cnt-social"><ul class="list-unstyled clearfix"><li><a href="#"><span aria-hidden="true" class="icons icons-other icon-share_2x"></span></a></li><li><a href="#" data-toggle="tooltip" data-placement="top" title="http://cll.io/a6lnu"><span aria-hidden="true" class="icons icons-other icon-url_2x"></span></a></li></ul></div></div></div></div><div class="cnt-posts__list_i"><div class="cnt-posts__list_i_cnt"><div class="cnt-posts__list_i_table"><ul class="list-unstyled"><li><div class="el-td"><span aria-hidden="true" class="icons icons-other icon-list2_2x"></span></div><div class="el-td">Children</div><div class="el-td">12 items</div><div class="el-td">7h ago</div></li><li><div class="el-td"><span aria-hidden="true" class="icons icons-other icon-list_2x"></span></div><div class="el-td">The longest title in the world</div><div class="el-td">3 items</div><div class="el-td">Mar 13</div></li></ul></div></div><div class="cnt-posts__list_i_info clearfix"><div class="cnt-posts__list_i_info_date float-left">2h ago</div><div class="cnt-posts__list_i_info_links float-right"><div class="cnt-social"><ul class="list-unstyled clearfix"><li><a href="#"><span aria-hidden="true" class="icons icons-other icon-share_2x"></span></a></li><li><a href="#" data-toggle="tooltip" data-placement="top" title="http://cll.io/a6lnu"><span aria-hidden="true" class="icons icons-other icon-url_2x"></span></a></li></ul></div></div></div></div><div class="cnt-posts__list_i"><div class="cnt-posts__list_i_cnt"><div class="cnt-posts__list_i_imgs"><ul class="list-unstyled clearfix"><li class="__type-video"><img src="img/other/article/video/video@2x.png" alt="img post"></li><li><img src="img/other/article/photo-1@2x.png" alt="img post"></li><li><img src="img/other/article/photo-2@2x.png" alt="img post"></li></ul></div><div class="cnt-posts__list_i_border"><div class="cnt-posts__list_i_date">Due on Feb 13, 12:42 PM</div></div></div><div class="cnt-posts__list_i_info clearfix"><div class="cnt-posts__list_i_info_date float-left">Feb 14</div><div class="cnt-posts__list_i_info_links float-right"><div class="cnt-social"><ul class="list-unstyled clearfix"><li><a href="#"><span aria-hidden="true" class="icons icons-other icon-share_2x"></span></a></li><li><a href="#" data-toggle="tooltip" data-placement="top" title="http://cll.io/a6lnu"><span aria-hidden="true" class="icons icons-other icon-url_2x"></span></a></li></ul></div></div></div></div><div class="cnt-posts__list_i"><div class="cnt-posts__list_i_cnt"><p>The Dark Knight Rises is a 2012 British-American superhero film directed by Christopher Nolan, who co-wrote the screenplay with his brother Jonathan Nolan, and the story with David S. Goyer. Featuring the DC Comics character Batman, the film is the final installment in Nolan's Batman film trilogy, and the sequel to Batman Begins (2005) and The Dark Knight (2008). Christian Bale reprises the lead role of Bruce Wayne/Batman, with a returning cast of allies: Michael Caine as Alfred Pennyworth, Gary Oldman as James Gordon, and Morgan Freeman as Lucius Fox. The film introduces Selina Kyle (Anne Hathaway), a sly, morally ambiguous cat burglar, and Bane (Tom Hardy), a revolutionary bent on destroying Gotham City who forces an older Bruce Wayne to come out of retirement and become Batman again.</p><div class="cnt-posts__list_i_imgs"><ul class="list-unstyled clearfix"><li><img src="img/other/article/photo-3@2x.png" alt="img post"></li><li><img src="img/other/article/photo-4@2x.png" alt="img post"></li><li><img src="img/other/article/photo-5@2x.png" alt="img post"></li><li><img src="img/other/article/photo-6@2x.png" alt="img post"></li></ul></div><div class="cnt-posts__list_i_border"><div class="cnt-posts__list_i_map clearfix"><div class="cnt-posts__list_i_map_img float-left"><img src="img/other/map@2x.png" alt="img post"></div><div class="cnt-posts__list_i_map_cnt"><ul class="list-unstyled"><li>Merry Bergtraum High School for Business Cariers</li><li>411 Pearl St, NY 10038</li><li>United States of America</li><li><a href="#">Watch location on Google Maps</a></li></ul></div></div></div><div class="cnt-posts__list_i_border"><div class="cnt-posts__list_i_docs"><ul class="list-unstyled clearfix"><li><div class="cnt-posts__list_i_docs_img"><span aria-hidden="true" class="icons icons-docs icon-attach-doc_2x"></span></div><div class="cnt-posts__list_i_docs_cnt">logo_final.eps</div></li><li><div class="cnt-posts__list_i_docs_img"><span aria-hidden="true" class="icons icons-docs icon-db_2x"></span></div><div class="cnt-posts__list_i_docs_cnt">photos_summer.zip</div></li><li><div class="cnt-posts__list_i_docs_img"><span aria-hidden="true" class="icons icons-docs icon-skydrive_2x"></span></div><div class="cnt-posts__list_i_docs_cnt">work_…hard.doc</div></li></ul></div></div></div><div class="cnt-posts__list_i_info clearfix"><div class="cnt-posts__list_i_info_date float-left">Jan 12</div><div class="cnt-posts__list_i_info_links float-right"><div class="cnt-social"><ul class="list-unstyled clearfix"><li><a href="#"><span aria-hidden="true" class="icons icons-other icon-share_2x"></span></a></li><li><a href="#" data-toggle="tooltip" data-placement="top" title="http://cll.io/a6lnu"><span aria-hidden="true" class="icons icons-other icon-url_2x"></span></a></li></ul></div></div></div></div><div class="cnt-posts__list_i __type-protected hidden-sm hidden-xs"><div class="el-posts__list_i_status"></div><div class="cnt-posts__list_i_info clearfix"><div class="cnt-posts__list_i_info_date float-left">Nov 22</div><div class="cnt-posts__list_i_info_date __type-last float-right">Protected</div></div></div><div class="cnt-posts__list_i __type-archived hidden-sm hidden-xs"><div class="el-posts__list_i_status"></div><div class="cnt-posts__list_i_info clearfix"><div class="cnt-posts__list_i_info_date float-left">Nov 21</div><div class="cnt-posts__list_i_info_date __type-last float-right">Archived</div></div></div></div></div></div></div><!-- footer--><footer class="cnt-footer"><div class="container"><!-- copyright--><div class="cnt-footer__copyright float-left hidden-xs">© CENTRALLO 2016</div><!-- social--><div class="cnt-footer__social cnt-social float-right"><ul class="list-unstyled clearfix display-inline-block-top"><li><a href="#"><span aria-hidden="true" class="icons icons-other icon-twi-foot_2x"></span></a></li><li><a href="#"><span aria-hidden="true" class="icons icons-other icon-fb-foot_2x"></span></a></li></ul></div><!-- nav--><div class="cnt-footer__nav"><ul class="list-unstyled clearfix display-inline-block-top"><li><a href="#">PRIVACY</a></li><li><a href="#">TERMS</a></li><li><a href="#">CONTACT</a></li></ul></div></div></footer></div><!-- modal shares--><div id="modalShares" tabindex="-1" role="dialog" aria-labelledby="modalSharesLabel" class="cnt-modal-shares modal fade"><div role="document" class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" data-dismiss="modal" aria-label="Close" class="close"></button><span>Share</span></div><div class="modal-body"><div class="cnt-modal__mark"><mark>http://cll.io/a6lnu</mark></div><div class="cnt-modal__social"><div class="cnt-social __type-2 text-center"><ul class="list-unstyled clearfix display-inline-block-top"><li class="fb"><a href="#"><span aria-hidden="true" class="icons icons-other icon-soc-fb_2x"></span></a></li><li class="tw"><a href="#"><span aria-hidden="true" class="icons icons-other icon-soc-tw_2x"></span></a></li><li class="vk"><a href="#"><span aria-hidden="true" class="icons icons-other icon-soc-vk_2x"></span></a></li><li class="in"><a href="#"><span aria-hidden="true" class="icons icons-other icon-soc-in_2x"></span></a></li></ul></div></div></div></div></div></div><script src="js/app.js"></script></body></html>
